<nz-tabset *ngIf="sportsList">
  <nz-tab [nzTitle]="titleTemplate">
    <ng-template #titleTemplate>
      <i nz-icon nzType="trophy"></i>
      Sports
    </ng-template>
    <app-available-sports
      [sports]="sports"
      (getSports)="getSports()"
    ></app-available-sports>
  </nz-tab>
  <nz-tab [nzTitle]="titleTemplate2">
    <ng-template #titleTemplate2>
      <i nz-icon nzType="partition"></i>
      Regions
    </ng-template>
    <app-regions
      [sportsList]="sportsList"
      (regionList)="updateRegionList($event)"
    ></app-regions>
  </nz-tab>
  <nz-tab [nzTitle]="titleTemplate3">
    <ng-template #titleTemplate3>
      <i nz-icon nzType="flag"></i>
      Leagues
    </ng-template>
    <app-leagues
      *ngIf="regionList"
      [sportsList]="sportsList"
      [regionList]="regionList"
    ></app-leagues>
  </nz-tab>
  <nz-tab [nzTitle]="titleTemplate4">
    <ng-template #titleTemplate4>
      <i nz-icon nzType="play-square"></i>
      Live Events
    </ng-template>
    <app-live-events></app-live-events>
  </nz-tab>
  <nz-tab [nzTitle]="titleTemplate5">
    <ng-template #titleTemplate5>
      <i nz-icon nzType="desktop"></i>
      Pre Events
    </ng-template>
    <app-pre-events
      *ngIf="regionList"
      [sportsList]="sportsList"
      [regionList]="regionList"
    ></app-pre-events>
  </nz-tab>
  <nz-tab [nzTitle]="titleTemplate6">
    <ng-template #titleTemplate6>
      <i nz-icon nzType="stop"></i>
      Disabled Events
    </ng-template>
    <app-disabled-events></app-disabled-events>
  </nz-tab>
</nz-tabset>
