<nz-card>
  <div class="filters-container">
    <nz-range-picker
      nzFormat="dd-MM-yyyy"
      [(ngModel)]="userTransactionsDate"
      [nzAllowClear]="false"
    ></nz-range-picker>

    <nz-select
      [(ngModel)]="userTransactionsType"
      style="width: 120px; margin-left: 1rem"
    >
      <nz-option nzValue="" nzLabel="All"></nz-option>
      <nz-option nzValue="Win" nzLabel="Win"></nz-option>
      <nz-option nzValue="Lose" nzLabel="Lose"></nz-option>
      <nz-option nzValue="Pending" nzLabel="Pending"></nz-option>
      <nz-option nzValue="Settled" nzLabel="Settled"></nz-option>
      <nz-option nzValue="Void" nzLabel="Void"></nz-option>
    </nz-select>

    <nz-switch [(ngModel)]="switchValue" style="margin-left: 1rem"></nz-switch>
    Action Date

    <button
      style="width: 200px; margin-left: 1.5rem"
      (click)="getBets()"
      nz-button
      nzType="primary"
      [nzLoading]="userTransactionsLoading"
    >
      <i nz-icon nzType="search"></i>
      Search
    </button>

    <button
      style="margin: 0.3rem"
      nz-button
      nzType="primary"
      nzSize="small"
      nzShape="round"
      (click)="this.extractBetReport(true)"
    >
      <i nz-icon nzType="download"></i>
      Selections
    </button>

    <button
      style="margin: 0.3rem"
      nz-button
      nzType="primary"
      nzSize="small"
      nzShape="round"
      (click)="this.extractBetReport(false)"
    >
      <i nz-icon nzType="download"></i>
      Bets
    </button>
  </div>

  <nz-table #table2 [nzData]="userTransactionsData">
    <thead>
      <tr>
        <th
          *ngFor="let column of orderColumnTransactions"
          [nzSortFn]="column.compare"
        >
          {{ column.title }}
        </th>
        <th *ngIf="isMasterUser">Print</th>
      </tr>

      <tr>
        <th>Total:</th>
        <th>-</th>
        <th>
          {{ this.dataService.formatNumber(this.total.totalSelections, false) }}
        </th>
        <th>-</th>
        <th>
          {{ this.dataService.formatNumber(this.total.stake) }}
          {{ this.symbol }}
        </th>
        <th>
          {{ this.dataService.formatNumber(this.total.eb) }} {{ this.symbol }}
        </th>
        <th>
          {{ this.dataService.formatNumber(this.total.ewb) }} {{ this.symbol }}
        </th>
        <th>
          {{ this.dataService.formatNumber(this.total.rwb) }} {{ this.symbol }}
        </th>
        <th>
          {{ this.dataService.formatNumber(this.total.net) }} {{ this.symbol }}
        </th>
        <th>-</th>
        <th>-</th>
        <th>-</th>
        <th *ngIf="isMasterUser">-</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of table2.data; let i = index">
        <tr (click)="onExpandChange(item, $event)" style="cursor: pointer">
          <td>{{ item.id }}</td>
          <td>
            {{ item.customerName }}
          </td>
          <td>{{ item.totalSelections }}</td>
          <td>{{ item.odds.toFixed(2) }}</td>
          <td>{{ item.stake.toFixed(2) | number: "1.2-2" }}</td>
          <td>{{ item.bonus.toFixed(2) | number: "1.2-2" }}</td>
          <td>{{ item.maxPayout.toFixed(2) | number: "1.2-2" }}</td>
          <td>{{ item.realWin.toFixed(2) | number: "1.2-2" }}</td>
          <td [ngClass]="{ greenText: item.net >= 0, redText: item.net < 0 }">
            {{ item.net | number: "1.2-2" }}
          </td>
          <td
            [ngClass]="{
              greenText: item.status === 'Win',
              redText: item.status === 'Loss',
              yellowText: item.status === 'Pending',
              blueText: item.status === 'Settled',
              purpleText: item.status === 'Void'
            }"
          >
            {{ item.status }}
          </td>
          <td>{{ item.date }}</td>
          <td>{{ item.time }}</td>
          <td *ngIf="isMasterUser">
            <button
              nz-button
              nzType="primary"
              nzShape="circle"
              nzSize="small"
              (click)="this.emitEventToChild(item.id); $event.stopPropagation()"
            >
              <i nz-icon nzType="printer"></i>
            </button>
          </td>
        </tr>

        <!-- TABLE EXPANSION -->

        <tr [nzExpand]="expandSet.has(item.id)" class="no-pad-top">
          <nz-tabset class="bet-tabs">
            <nz-tab nzTitle="Selections">
              <nz-table
              style="padding: 8px 0;"
                #basicTable
                [nzData]="item.selections"
                [nzShowPagination]="false"
                nzBordered
              >
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Event</th>
                    <th>League</th>
                    <th>Market</th>
                    <th>Odds</th>
                    <th>Rate</th>
                    <th>1.Half</th>
                    <th>2.Half</th>
                    <th>Status</th>
                    <th *ngIf="isSuperMaster">Action</th>
                    <th
                      *ngIf="
                        isSuperMaster &&
                        item.selections.length === 1 &&
                        item.selections[0].isPending
                      "
                    >
                      Odd
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.eventDate }}</td>
                    <td>{{ data.eventTime }}</td>
                    <td>{{ data.eventName }}</td>
                    <td>{{ data.leagueName }}</td>
                    <td>{{ data.marketName }}</td>
                    <td>{{ data.oddsName }}</td>
                    <td>{{ data.rate }}</td>
                    <td>{{ data.firstHalfScore }}</td>
                    <td>{{ data.secondHalfScore }}</td>

                    <td
                      [ngClass]="{
                        redText: returnSelectionStatus(data) == 'Lose',
                        greenText: returnSelectionStatus(data) == 'Win',
                        purpleText: returnSelectionStatus(data) == 'Void',
                        yellowText: returnSelectionStatus(data) == 'Pending'
                      }"
                    >
                      {{ returnSelectionStatus(data) }}
                    </td>

                    <td *ngIf="isSuperMaster">
                      <a
                        [ngClass]="{
                          disabledText:
                            returnSelectionStatus(data) !== 'Pending'
                        }"
                        nz-popconfirm
                        nzPopconfirmTitle="Are you sure you want to set the selection to win ?"
                        (nzOnConfirm)="setAsWin(data)"
                        >Win</a
                      >
                      <nz-divider nzType="vertical"></nz-divider>
                      <a
                        [ngClass]="{
                          disabledText:
                            returnSelectionStatus(data) !== 'Pending'
                        }"
                        nz-popconfirm
                        nzPopconfirmTitle="Are you sure you want to set the selection to loss ?"
                        (nzOnConfirm)="setAsLoss(data)"
                        >Loss</a
                      >
                      <nz-divider nzType="vertical"></nz-divider>
                      <a
                        [ngClass]="{
                          disabledText:
                            returnSelectionStatus(data) !== 'Pending'
                        }"
                        nz-popconfirm
                        nzPopconfirmTitle="Are you sure you want to void the selection ?"
                        (nzOnConfirm)="setAsVoid(data)"
                        >Void</a
                      >
                    </td>

                    <td
                      *ngIf="
                        isSuperMaster &&
                        item.selections.length === 1 &&
                        data.isPending
                      "
                    >
                      <i
                        (click)="showModal(data)"
                        nz-tooltip
                        nzTooltipTitle="Change Odd"
                        style="cursor: pointer"
                        nz-icon
                        [nzType]="'calculator'"
                        [nzTheme]="'twotone'"
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </nz-tab>
            <nz-tab
              *ngFor="let combo of item.combos"
              nzTitle="Combo {{ combo.name }}"
            >
              <div *ngFor="let ref of combo.ref">
                <nz-table
                style="padding: 8px 0;"
                nzBordered
                  #basicTable2
                  [nzData]="ref.selections"
                  [nzShowPagination]="false"
                >
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Time</th>
                      <th>
                        Event - {{ returnExpectedWin(ref) | number: "1.2-2" }}
                      </th>
                      <th>Market</th>
                      <th>Odds</th>
                      <th>Rate</th>
                      <th>1.Half</th>
                      <th>2.Half</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of basicTable2.data">
                      <td>{{ data.eventDate }}</td>
                      <td>{{ data.eventTime }}</td>
                      <td>{{ data.eventName }}</td>
                      <td>{{ data.marketName }}</td>
                      <td>{{ data.oddsName }}</td>
                      <td>{{ data.rate | number: "1.2-2" }}</td>
                      <td>{{ data.firstHalfScore }}</td>
                      <td>{{ data.secondHalfScore }}</td>
                      <td
                        [ngClass]="{
                          redText: returnSelectionStatus(data) == 'Lose',
                          greenText: returnSelectionStatus(data) == 'Win',
                          purpleText: returnSelectionStatus(data) == 'Void',
                          yellowText: returnSelectionStatus(data) == 'Pending'
                        }"
                      >
                        {{ returnSelectionStatus(data) }}
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </nz-tab>
          </nz-tabset>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</nz-card>

<app-print-selection [events]="eventsSubject.asObservable()">
</app-print-selection>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Change Bet Rate"
  (nzOnCancel)="(isVisible)"
  (nzOnOk)="applyOddChange()"
>
  <ng-container *nzModalContent>
    <nz-input-number
      [(ngModel)]="newOdd"
      [nzMin]="1"
      [nzStep]="1"
    ></nz-input-number>
  </ng-container>
</nz-modal>
