@import "../../../../assets/scss/_variables.scss";

// .nav-item {
//   font-size: 14px !important;
//   color: rgba(42, 42, 42, 0.75) !important;

//   &:hover {
//     color: $brand-danger !important;
//   }
// }

.down-icon {
  font-size: 10px !important;
}

.theme-color-container {
  display: flex;
  justify-content: center;
}

.langDropdown {
  width: 200px;

  img {
    height: 28px;
    width: 28px;
    border-radius: 4px;
  }
  .text {
    font-weight: 500;
    margin: 0 0 0 8px;
  }

  // li:hover {
  //   background: rgba(63, 135, 245, 0.1);
  // }
}

.selected {
  background: rgba(63, 135, 245, 0.1);
  color: #3f87f5;
}
