@import "../../../../assets/scss/_variables.scss";

// .nav-item {
//   font-size: 14px !important;
//   color: rgba(42, 42, 42, 0.75) !important;

//   &:hover {
//     color: $brand-danger !important;
//   }
// }

.down-icon {
  font-size: 10px !important;
}

.theme-color-container {
  display: flex;
  justify-content: center;
}


