.content {
  display: flex;
  flex-direction: column;
}

.twoCol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.threeCol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
}

.fourCol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
}

@media screen and (max-width: 700px) {
  .threeCol {
    grid-template-columns: 1fr 1fr;
  }

  .fourCol {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 460px) {
  .twoCol {
    grid-template-columns: 1fr;
  }

  .threeCol {
    grid-template-columns: 1fr;
  }

  .fourCol {
    grid-template-columns: 1fr;
  }
}
