<nz-card>
  <div class="row m-b-30">
    <div class="col-lg-8">
      <div class="d-md-flex">
        <div class="m-b-10 m-r-20" style="flex: 1">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input
              type="text"
              nz-input
              placeholder="Search"
              [(ngModel)]="searchInput"
              (keydown)="search($event)"
            />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch (click)="search()">
              <i nz-icon nzType="search" *ngIf="!isSearchLoading"></i>
              <i nz-icon nzType="loading" *ngIf="isSearchLoading"></i>
            </button>
          </ng-template>
        </div>
        <!-- <div class="m-b-10 m-r-20 d-flex align-items-center">
          <nz-select
            style="min-width: 220px"
            class="w-100"
            nzPlaceHolder="Status"
            [(ngModel)]="selectedStatus"
            (ngModelChange)="statusChange($event)"
          >
            <nz-option nzLabel="All" nzValue=""></nz-option>
            <nz-option
              [nzLabel]="item.label"
              [nzValue]="item.value"
              *ngFor="let item of dropdownOptions"
            ></nz-option>
          </nz-select>
        </div> -->
      </div>
    </div>
    <div class="col-lg-4 text-right">
      <a nz-button nzType="primary" (click)="showAddModal()">
        <i nz-icon nzType="plus-circle" theme="outline"></i>
        <span>Add Shop</span>
      </a>
    </div>
  </div>
  <nz-table #table [nzData]="dataSource">
    <thead>
      <tr>
        <th *ngFor="let column of orderColumn" [nzSortFn]="column.compare">
          {{ column.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of table.data; let i = index">
        <tr (click)="onExpandChange(item.id, $event)">
          <td class="link-hover" [routerLink]="['/user-info/' + item.id]">
            {{ item.username }}
          </td>
          <td class="link-hover" (click)="showHistoryModal(item)">
            {{ item.name }}
          </td>
          <td>{{ item.parentName }}</td>
          <td>{{ item.cashBalance | number: "1.2-2" }} {{ item.symbol }}</td>
          <td>{{ item.creditBalance | number: "1.2-2" }} {{ item.symbol }}</td>
          <td>{{ item.realBalance | number: "1.2-2" }} {{ item.symbol }}</td>
          <td style="text-align: center !important">
            <i
              *ngIf="item.isActive"
              nz-icon
              [nzType]="'check-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#04d992'"
              style="font-size: 18px"
            ></i>

            <i
              *ngIf="!item.isActive"
              nz-icon
              [nzType]="'close-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#de4436'"
              style="font-size: 18px"
            ></i>
          </td>

          <td style="text-align: center !important">
            <i
              *ngIf="item.isSuspended"
              nz-icon
              [nzType]="'check-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#04d992'"
              style="font-size: 18px"
            ></i>

            <i
              *ngIf="!item.isSuspended"
              nz-icon
              [nzType]="'close-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#de4436'"
              style="font-size: 18px"
            ></i>
          </td>
          <td class="text-md-right">
            <button
              nz-button
              nz-dropdown
              nzType="default"
              nzShape="circle"
              nz-tooltip
              nzTooltipTitle="Options"
              nzTrigger="click"
              [nzDropdownMenu]="menu"
              (click)="$event.stopPropagation()"
            >
              <i nz-icon nzType="more" theme="outline"></i>
            </button>
          </td>
        </tr>

        <!-- TABLE EXPANSION -->

        <!-- <tr [nzExpand]="expandSet.has(item.id)">
          <span>FFFF</span>
        </tr> -->

        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="showDetailModal(item)">
              <i
                nz-icon
                nzType="edit"
                nzTheme="outline"
                style="padding-right: 8px"
              ></i
              >Details
            </li>

            <li nz-menu-item (click)="showDepositModal(item)">
              <i
                nz-icon
                nzType="credit-card"
                nzTheme="outline"
                style="padding-right: 8px"
              ></i
              >Deposit
            </li>

            <li nz-menu-item (click)="showWithdrawModal(item)">
              <i
                nz-icon
                nzType="minus-square"
                nzTheme="outline"
                style="padding-right: 8px"
              ></i
              >Withdraw
            </li>

            <li nz-menu-item (click)="showHistoryModal(item)">
              <i
                nz-icon
                nzType="history"
                nzTheme="outline"
                style="padding-right: 8px"
              ></i
              >History
            </li>

            <li nz-menu-item (click)="showBalanceModal(item)">
              <i
                nz-icon
                nzType="dollar-circle"
                nzTheme="outline"
                style="padding-right: 8px"
              ></i
              >Balance
            </li>
            <li nz-menu-item (click)="showPasswordModal(item)">
              <i
                nz-icon
                nzType="lock"
                nzTheme="outline"
                style="padding-right: 8px"
              ></i>
              Change Password
            </li>
            <li
              nz-menu-item
              *ngIf="!item.isSuspended"
              (click)="suspendConfirm(item)"
            >
              <i
                nz-icon
                nzType="stop"
                nzTheme="outline"
                style="padding-right: 8px"
              ></i>
              Suspend
            </li>
            <li
              nz-menu-item
              *ngIf="item.isSuspended"
              (click)="unsuspendConfirm(item)"
            >
              <i
                nz-icon
                nzType="undo"
                nzTheme="outline"
                style="padding-right: 8px"
              ></i>
              Unsuspend
            </li>

            <li nz-menu-divider></li>
            <li nz-menu-item nzDanger (click)="showDeleteConfirm(item)">
              <i
                nz-icon
                nzType="delete"
                nzTheme="outline"
                style="padding-right: 8px"
              ></i>
              Delete
            </li>
          </ul>
        </nz-dropdown-menu>
      </ng-container>
    </tbody>
  </nz-table>
</nz-card>

<!-- Modal Starts Here -->

<!-- Add Modal -->
<nz-modal
  [nzStyle]="{ width: '60vw' }"
  [(nzVisible)]="isAddVisible"
  nzTitle="Create New Shop"
  (nzOnCancel)="isAddVisible = false"
  (nzOnOk)="submitAddForm()"
  [nzOkText]="'Add'"
  [nzOkLoading]="isOkLoading"
  [nzOkDisabled]="addForm?.invalid"
>
  <ng-container *nzModalContent>
    <form [formGroup]="addForm" class="d-grid" autocomplete="off">
      <div>
        <nz-form-label [nzSpan]="12">Name</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="name"
              type="text"
              nz-input
              placeholder="Name"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Username</nz-form-label>
        <nz-form-control [nzErrorTip]="usernameAvi">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="username"
              type="text"
              nz-input
              placeholder="Username"
              (input)="usernameAvailable()"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Email</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="email"
              type="text"
              nz-input
              placeholder="Email"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Password</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group
            [nzSuffix]="suffixTemplateInfo"
            [nzPrefix]="prefixTemplateUser"
          >
            <input
              formControlName="password"
              type="password"
              nz-input
              placeholder="Password"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
        <ng-template #suffixTemplateInfo>
          <i
            nz-icon
            nz-tooltip
            nzTooltipTitle="Password must contain more than 8 characters, 1 numeric, 1 upper case letter, and 1 special character."
            nzType="info-circle"
          ></i>
        </ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Mobile</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="mobile"
              type="number"
              nz-input
              placeholder="Mobile"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Max User Limit</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="maxUserLimit"
              type="number"
              nz-input
              placeholder="Max User Limit"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <!-- <div>
        <nz-form-label [nzSpan]="12">Currency</nz-form-label>
        <nz-select style="width: 100%" formControlName="symbol">
          <nz-option nzValue="₺" nzLabel="TL"></nz-option>
          <nz-option nzValue="$" nzLabel="USD"></nz-option>
          <nz-option nzValue="£" nzLabel="STG"></nz-option>
          <nz-option nzValue="€" nzLabel="EURO"></nz-option>
        </nz-select>
      </div> -->

      <div class="example-input">
        <input
          placeholder='Select Promoter"'
          nz-input
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="promoterAuto"
          (ngModelChange)="onChange($event)"
          [nzAutocomplete]="auto"
        />
        <nz-autocomplete
          [nzDataSource]="filteredOptions"
          #auto
        ></nz-autocomplete>
      </div>

      <div style="display: flex">
        <label nz-checkbox formControlName="isActive">Active</label>
      </div>
    </form>

    <nz-divider></nz-divider>

    <h5 nz-typography>Commission Information</h5>
    <form [formGroup]="addForm" class="d-grid" autocomplete="off">
      <div>
        <nz-form-label [nzSpan]="12">Bets Number</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="betsNo"
              type="number"
              nz-input
              placeholder="Bets Number"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Total Stake</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="totalStack"
              type="number"
              nz-input
              placeholder="Total Stake"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Single Minimum Odd</nz-form-label>

        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="singleMinOdd"
              type="number"
              nz-input
              placeholder="Single Minimum Odd"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Single Commission Odd</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="singleComissionRate"
              type="number"
              nz-input
              placeholder="Single Commission Rate"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Double Minimum Odd</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="doubleMinOdd"
              type="number"
              nz-input
              placeholder="Double Minimum Odd"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Double Commission Odd</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="doubleComissionRate"
              type="number"
              nz-input
              placeholder="Double Commission Rate"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Triple Minimum Odd</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="tripleMinOdd"
              type="number"
              nz-input
              placeholder="Triple Minimum Odd"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Triple Commission Odd</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="tripleComissionRate"
              type="number"
              nz-input
              placeholder="Triple Commission Rate"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>
    </form>
  </ng-container>
</nz-modal>

<!-- Details Modal -->
<nz-modal
  [nzStyle]="{ width: '60vw' }"
  [(nzVisible)]="isDetailVisible"
  nzTitle="Master Details"
  (nzOnCancel)="isDetailVisible = false"
  (nzOnOk)="submitDetailForm()"
  [nzOkText]="'Save'"
  [nzOkLoading]="isOkLoading"
  [nzOkDisabled]="detailForm?.invalid"
>
  <ng-container *nzModalContent>
    <form [formGroup]="detailForm" class="d-grid" autocomplete="off">
      <div>
        <nz-form-label [nzSpan]="12">Name</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="name"
              type="text"
              nz-input
              placeholder="Name"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Email</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="email"
              type="text"
              nz-input
              placeholder="Email"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Mobile</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="mobile"
              type="number"
              nz-input
              placeholder="Mobile"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Max User Limit</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="maxUserLimit"
              type="number"
              nz-input
              placeholder="Max User Limit"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div style="display: flex">
        <label nz-checkbox formControlName="isActive">Active</label>

        <label nz-checkbox formControlName="localComissionSetting"
          >Local Comission</label
        >
      </div>
    </form>

    <nz-divider></nz-divider>

    <h5 nz-typography>Commission Information</h5>
    <form [formGroup]="detailForm" class="d-grid" autocomplete="off">
      <div>
        <nz-form-label [nzSpan]="12">Bets Number</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="betsNo"
              type="number"
              nz-input
              placeholder="Bets Number"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Total Stake</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="totalStack"
              type="number"
              nz-input
              placeholder="Total Stake"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Single Minimum Odd</nz-form-label>

        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="singleMinOdd"
              type="number"
              nz-input
              placeholder="Single Minimum Odd"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Single Commission Odd</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="singleComissionRate"
              type="number"
              nz-input
              placeholder="Single Commission Rate"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Double Minimum Odd</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="doubleMinOdd"
              type="number"
              nz-input
              placeholder="Double Minimum Odd"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Double Commission Odd</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="doubleComissionRate"
              type="number"
              nz-input
              placeholder="Double Commission Rate"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Triple Minimum Odd</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="tripleMinOdd"
              type="number"
              nz-input
              placeholder="Triple Minimum Odd"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Triple Commission Odd</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="tripleComissionRate"
              type="number"
              nz-input
              placeholder="Triple Commission Rate"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>
    </form>
  </ng-container>
</nz-modal>

<!-- Change Password Modal -->
<nz-modal
  [nzStyle]="{ width: '60vw' }"
  [(nzVisible)]="isPasswordVisible"
  nzTitle="Change Password"
  (nzOnCancel)="isPasswordVisible = false"
  (nzOnOk)="submitPasswordForm()"
  [nzOkText]="'Change'"
  [nzOkLoading]="isOkLoading"
  [nzOkDisabled]="
    passwordForm?.invalid ||
    passwordForm?.get('password').value !==
      passwordForm?.get('passwordConfirm').value
  "
>
  <ng-container *nzModalContent>
    <form [formGroup]="passwordForm" class="d-grid" autocomplete="off">
      <div>
        <nz-form-label [nzSpan]="12">New Password</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group
            [nzSuffix]="suffixTemplateInfo"
            [nzPrefix]="prefixTemplateUser"
          >
            <input
              formControlName="password"
              type="password"
              nz-input
              placeholder="New Password"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
        <ng-template #suffixTemplateInfo>
          <i
            nz-icon
            nz-tooltip
            nzTooltipTitle="Password must contain more than 8 characters, 1 numeric, 1 upper case letter, and 1 special character."
            nzType="info-circle"
          ></i>
        </ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">New Password Confirm</nz-form-label>
        <nz-form-control [nzErrorTip]="'Invalid Input'">
          <nz-input-group
            [nzSuffix]="suffixTemplateInfo"
            [nzPrefix]="prefixTemplateUser"
          >
            <input
              formControlName="passwordConfirm"
              type="password"
              nz-input
              placeholder="New Password Confirm"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
        <ng-template #suffixTemplateInfo>
          <i
            nz-icon
            nz-tooltip
            nzTooltipTitle="Password must contain more than 8 characters, 1 numeric, 1 upper case letter, and 1 special character."
            nzType="info-circle"
          ></i>
        </ng-template>
      </div>
    </form>

    <nz-alert
      style="margin-top: 1rem"
      *ngIf="
        passwordForm.get('password').value !==
        passwordForm.get('passwordConfirm').value
      "
      nzType="error"
      nzMessage="Passwords not matching"
    ></nz-alert>

    <nz-alert
      style="margin-top: 1rem"
      *ngIf="
        passwordForm.get('password').value ===
          passwordForm.get('passwordConfirm').value &&
        passwordForm.get('password').value
      "
      nzType="success"
      nzMessage="Passwords are matching"
    ></nz-alert>
  </ng-container>
</nz-modal>

<!-- Deposit Modal -->
<nz-modal
  [nzStyle]="{ width: '60vw' }"
  [(nzVisible)]="isDepositVisible"
  [nzTitle]="'Deposit To ' + editingUser?.name"
  (nzOnCancel)="isDepositVisible = false"
  (nzOnOk)="submitDepositForm()"
  [nzOkText]="'Deposit'"
  [nzOkLoading]="isOkLoading"
  [nzOkDisabled]="depositForm?.invalid"
>
  <ng-container *nzModalContent>
    <form [formGroup]="depositForm" class="d-grid" autocomplete="off">
      <div>
        <nz-form-label [nzSpan]="12">Amount</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="amount"
              type="number"
              nz-input
              placeholder="Amount"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Reference</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="refrence"
              type="text"
              nz-input
              placeholder="Reference"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div style="display: flex; flex-direction: column">
        <nz-form-label style="text-align: start" [nzSpan]="12"
          >Payment Type</nz-form-label
        >
        <nz-radio-group formControlName="paymentType">
          <label nz-radio-button nzValue="Cash"><span>Cash</span></label>
          <label nz-radio-button nzValue="Credit"><span>Credit</span></label>
        </nz-radio-group>
      </div>
    </form>
  </ng-container>
</nz-modal>

<!-- Withdraw Modal -->
<nz-modal
  [nzStyle]="{ width: '60vw' }"
  [(nzVisible)]="isWithdrawVisible"
  [nzTitle]="'Withdraw From ' + editingUser?.name"
  (nzOnCancel)="isWithdrawVisible = false"
  (nzOnOk)="submitWithdrawForm()"
  [nzOkText]="'Withdraw'"
  [nzOkLoading]="isOkLoading"
  [nzOkDisabled]="withdrawForm?.invalid"
>
  <ng-container *nzModalContent>
    <form [formGroup]="withdrawForm" class="d-grid" autocomplete="off">
      <div>
        <nz-form-label [nzSpan]="12">Amount</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="amount"
              type="number"
              nz-input
              placeholder="Amount"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div>
        <nz-form-label [nzSpan]="12">Reference</nz-form-label>
        <nz-form-control nzErrorTip="Invalid Input">
          <nz-input-group [nzPrefix]="prefixTemplateUser">
            <input
              formControlName="refrence"
              type="text"
              nz-input
              placeholder="Reference"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="folder"></i
        ></ng-template>
      </div>

      <div style="display: flex; flex-direction: column">
        <nz-form-label style="text-align: start" [nzSpan]="12"
          >Payment Type</nz-form-label
        >
        <nz-radio-group formControlName="paymentType">
          <label nz-radio-button nzValue="Cash"><span>Cash</span></label>
          <label nz-radio-button nzValue="Credit"><span>Credit</span></label>
        </nz-radio-group>
      </div>
    </form>
  </ng-container>
</nz-modal>

<!-- History Modal -->
<nz-modal
  [nzStyle]="{ width: '90vw' }"
  [(nzVisible)]="isHistoryVisible"
  [nzTitle]="'Transactions of ' + editingUser?.name"
  (nzOnCancel)="isHistoryVisible = false"
>
  <ng-container *nzModalContent>
    <div class="filters-container">
      <nz-range-picker
        nzFormat="dd-MM-yyyy"
        [(ngModel)]="userTransactionsDate"
      ></nz-range-picker>

      <nz-select
        [(ngModel)]="userTransactionsType"
        style="width: 120px; margin-left: 1rem"
      >
        <nz-option nzValue="All" nzLabel="All"></nz-option>
        <nz-option nzValue="Deposit" nzLabel="Deposit"></nz-option>
        <nz-option nzValue="Withdraw" nzLabel="Withdraw"></nz-option>
      </nz-select>

      <button
        style="width: 200px; margin-left: 1.5rem"
        (click)="getUserTransactions()"
        nz-button
        nzType="primary"
        [nzLoading]="userTransactionsLoading"
      >
        <i nz-icon nzType="search"></i>
        Search
      </button>
    </div>

    <nz-table #table2 [nzData]="userTransactionsData">
      <thead>
        <tr>
          <th
            *ngFor="let column of orderColumnTransactions"
            [nzSortFn]="column.compare"
          >
            {{ column.title }}
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of table2.data; let i = index">
          <tr (click)="onExpandChange(item.id, $event)" style="cursor: pointer">
            <td>{{ item.amount | number: "1.2-2" }}{{ " " + item.symbole }}</td>
            <td>
              {{ item.paymentType }}
            </td>
            <td *ngIf="item.isDeposite" style="color: #04d992">Deposit</td>
            <td *ngIf="!item.isDeposite" style="color: #de4436">Withdraw</td>
            <td>{{ item.date | date: "medium" }}</td>
            <td>{{ item.refrence }}</td>
          </tr>

          <!-- TABLE EXPANSION -->

          <tr [nzExpand]="expandSet.has(item.id)">
            <nz-list nzGrid>
              <div nz-row [nzGutter]="4">
                <div nz-col [nzSpan]="4" style="margin-right: 16px">
                  <nz-list-item>
                    <nz-card
                      [nzTitle]="'Cash Balance (' + item.symbole + ')'"
                      style="text-align: center"
                    >
                      <span style="color: #de4436">
                        {{ item.prevCashBalance | number: "1.2-2" }}
                      </span>
                      <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                      <span style="color: #04d992">
                        {{ item.newCashBalance | number: "1.2-2" }}
                      </span>
                    </nz-card>
                  </nz-list-item>
                </div>

                <div nz-col [nzSpan]="4" style="margin-right: 16px">
                  <nz-list-item>
                    <nz-card
                      [nzTitle]="'Bonus Balance (' + item.symbole + ')'"
                      style="text-align: center"
                    >
                      <span style="color: #de4436">
                        {{ item.prevBonusBalance | number: "1.2-2" }}
                      </span>
                      <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                      <span style="color: #04d992">
                        {{ item.newBonusBalance | number: "1.2-2" }}
                      </span>
                    </nz-card>
                  </nz-list-item>
                </div>

                <div nz-col [nzSpan]="4" style="margin-right: 16px">
                  <nz-list-item>
                    <nz-card
                      [nzTitle]="'Credit Limit (' + item.symbole + ')'"
                      style="text-align: center"
                    >
                      <span style="color: #de4436">
                        {{ item.prevCreditLimit | number: "1.2-2" }}
                      </span>
                      <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                      <span style="color: #04d992">
                        {{ item.newCreditLimit | number: "1.2-2" }}
                      </span>
                    </nz-card>
                  </nz-list-item>
                </div>

                <div nz-col [nzSpan]="4" style="margin-right: 16px">
                  <nz-list-item>
                    <nz-card
                      [nzTitle]="'Used Credit (' + item.symbole + ')'"
                      style="text-align: center"
                    >
                      <span style="color: #de4436">
                        {{ item.prevUsedCredit | number: "1.2-2" }}
                      </span>
                      <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                      <span style="color: #04d992">
                        {{ item.newUsedCredit | number: "1.2-2" }}
                      </span>
                    </nz-card>
                  </nz-list-item>
                </div>

                <div nz-col [nzSpan]="4" style="margin-right: 16px">
                  <nz-list-item>
                    <nz-card
                      [nzTitle]="'Real Balance (' + item.symbole + ')'"
                      style="text-align: center"
                    >
                      <span style="color: #de4436">
                        {{ item.prevRealBalance | number: "1.2-2" }}
                      </span>
                      <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                      <span style="color: #04d992">
                        {{ item.newRealBalance | number: "1.2-2" }}
                      </span>
                    </nz-card>
                  </nz-list-item>
                </div>
              </div>
            </nz-list>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </ng-container>
  <ng-container *nzModalFooter> </ng-container>
</nz-modal>

<!-- Balance Modal -->
<nz-modal
  [nzStyle]="{ width: '80vw' }"
  [(nzVisible)]="isBalanceVisible"
  [nzTitle]="'Balance for ' + editingUser?.name"
  (nzOnCancel)="isBalanceVisible = false"
  (nzOnOk)="submitBalanceForm()"
  [nzOkText]="'Pay'"
  [nzOkLoading]="isOkLoading"
>
  <ng-container *nzModalContent>
    <nz-descriptions
      nzBordered
      [nzSize]="'middle'"
      [nzColumn]="{ xxl: 3, xl: 3, lg: 2, md: 2, sm: 1, xs: 1 }"
    >
      <nz-descriptions-item nzTitle="Cash">
        {{ this.dataService.formatNumber(balanceModel.cashWallet) }}
        {{ balanceModel.symbol }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Credit"
        >{{ this.dataService.formatNumber(balanceModel.remainingLimit) }}/{{
          this.dataService.formatNumber(balanceModel.creditLimit)
        }}
        {{ balanceModel.symbol }}</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Real"
        >{{ this.dataService.formatNumber(balanceModel.realBalance) }}
        {{ balanceModel.symbol }}</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Bets Number"
        >{{ this.dataService.formatNumber(balanceModel.betsNo, false) }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Total Bets">{{
        this.dataService.formatNumber(balanceModel.totalBets, false)
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="User Minimum Stake"
        >{{ this.dataService.formatNumber(balanceModel.userMinStake) }}
        {{ balanceModel.symbol }}</nz-descriptions-item
      >
    </nz-descriptions>

    <div style="padding: 30px 0">
      <div nz-row [nzGutter]="8" class="cards-container">
        <div nz-col [nzSpan]="8">
          <nz-card
            [nzTitle]="
              'Single Comission Rate (' +
              balanceModel.singleComissionAmount +
              balanceModel.symbol +
              ')'
            "
          >
            <p>
              Single Comission Rate:
              {{
                this.dataService.formatNumber(balanceModel.singleComissionRate)
              }}%
            </p>

            <p>
              Single Valid Comission Stake:
              {{
                this.dataService.formatNumber(
                  balanceModel.singleValidComissionStack
                )
              }}
              {{ balanceModel.symbol }}
            </p>

            <p>
              Total Stake Single:
              {{ this.dataService.formatNumber(balanceModel.totalStakeSingle) }}
              {{ balanceModel.symbol }}
            </p>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-card
            [nzTitle]="
              'Double Comission Amount (' +
              balanceModel.doubleComissionAmount +
              balanceModel.symbol +
              ')'
            "
          >
            <p>
              Double Comission Rate:
              {{
                this.dataService.formatNumber(balanceModel.doubleComissionRate)
              }}%
            </p>
            <p>
              Double Valid Comission Stake:
              {{
                this.dataService.formatNumber(
                  balanceModel.doubleValidComissionStack
                )
              }}
              {{ balanceModel.symbol }}
            </p>
            <p>
              Total Stake Double:
              {{ this.dataService.formatNumber(balanceModel.totalStakeDouble) }}
              {{ balanceModel.symbol }}
            </p>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-card
            [nzTitle]="
              'Triple Comission Amount (' +
              balanceModel.tripleComissionAmount +
              balanceModel.symbol +
              ')'
            "
          >
            <p>
              Triple Comission Rate:
              {{
                this.dataService.formatNumber(balanceModel.tripleComissionRate)
              }}%
            </p>
            <p>
              Triple Valid Comission Stake:
              {{
                this.dataService.formatNumber(
                  balanceModel.tripleValidComissionStack
                )
              }}
              {{ balanceModel.symbol }}
            </p>
            <p>
              Total Stake Triple:
              {{ this.dataService.formatNumber(balanceModel.totalStakeTriple) }}
              {{ balanceModel.symbol }}
            </p>
          </nz-card>
        </div>
      </div>
    </div>

    <div nz-row [nzGutter]="8" class="cards-container">
      <div nz-col [nzSpan]="8">
        <nz-card>
          <p>
            Total Stake:
            {{ this.dataService.formatNumber(balanceModel.totalStack) }}
            {{ balanceModel.symbol }}
          </p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card>
          <p>
            Comission Amount:
            {{ this.dataService.formatNumber(balanceModel.comissionAmount) }}
            {{ balanceModel.symbol }}
          </p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card>
          <p>
            Valid:
            <i
              *ngIf="balanceModel.isValid"
              nz-icon
              [nzType]="'check-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#04d992'"
              style="font-size: 20px"
            ></i>

            <i
              *ngIf="!balanceModel.isValid"
              nz-icon
              [nzType]="'close-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#de4436'"
              style="font-size: 20px"
            ></i>
          </p>
        </nz-card>
      </div>
    </div>
  </ng-container>
</nz-modal>
