.table-filter-container {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
  align-items: stretch;
}

@media screen and (max-width: 1070px) {
  .table-filter-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    align-items: stretch;
  }
}

@media screen and (max-width: 730px) {
  .table-filter-container {
    display: grid !important;
    grid-template-columns: 1fr !important;
    align-items: stretch;
  }
}

.table-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.75rem;
  margin-right: 1rem;
  span {
    line-height: 1.3;
    width: 100%;
    height: max-content;
    text-align: center;
    font-size: 12px;
    background-color: #efefef;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  &:not(:first-child) {
    // margin-left: 1rem;
  }
}

.voidButton {
  pointer-events: none;
  &.active {
    pointer-events: visible;
  }
}

.selectedBet {
  text-decoration: underline;

  &:hover {
    color: #0b5edc;
  }

  &.active {
    color: #0b5edc;
    text-decoration: line-through;
    font-weight: 500;
    &:hover {
      text-decoration: none;
      color: #53535f;
    }
  }
}

.actionDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lowPadding {
  td {
    padding: 0.7rem 0.5rem;
  }
}

.noPadFooter {
  th {
    padding: 0.4rem !important;
  }
}

.expansion-button {
  position: absolute;
  top: 44px;
  right: 4px;
}

.expansion {
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: absolute;
  padding: 1rem;
  top: 84px;
  background: white;
  width: 99.5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  right: 0.25%;
  height: 0;
  transition: 0.2s all ease-in;
  z-index: 99;
  opacity: 0;

  & > div {
    flex: 1;
    & > * {
      width: 100%;
    }
  }

  & > .table-filter {
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  & > button {
    flex: 1;
    height: 38.59px;
  }

  &.active {
    opacity: 1;
    height: 25%;
  }
}
