<nz-card>
  <div class="row m-b-30">
    <div class="col-lg-8">
      <div class="d-md-flex">
        <div class="m-b-10 m-r-20 d-flex align-items-center">
          <nz-select
            style="min-width: 220px"
            class="w-100"
            nzPlaceHolder="Status"
            [(ngModel)]="selectedStatus"
            (ngModelChange)="statusChange($event)"
          >
            <nz-option nzLabel="All" nzValue=""></nz-option>
            <nz-option
              [nzLabel]="item.label"
              [nzValue]="item.value"
              *ngFor="let item of dropdownOptions"
            ></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div class="col-lg-4 text-right">
      <a nz-button nzType="primary" style="width: 100%">
        <i nz-icon nzType="search" theme="outline"></i>
        <span>Search</span>
      </a>
    </div>
  </div>
  <nz-table #table [nzData]="dataSource">
    <thead>
      <tr>
        <th *ngFor="let column of orderColumn" [nzSortFn]="column.compare">
          {{ column.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of table.data; let i = index">
        <tr>
          <td>{{ item.sportId }}</td>
          <td>
            {{ item.name }}
          </td>
          <td>{{ item.category }}</td>
          <td style="text-align: center !important">
            <i
              *ngIf="item.isActive"
              nz-icon
              [nzType]="'check-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#04d992'"
              style="font-size: 18px"
            ></i>

            <i
              *ngIf="!item.isActive"
              nz-icon
              [nzType]="'close-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#de4436'"
              style="font-size: 18px"
            ></i>
          </td>

          <td class="text-md-right">
            <button
              nz-button
              nz-dropdown
              nzType="default"
              nzShape="circle"
              nz-tooltip
              nzTooltipTitle="Options"
              nzTrigger="click"
              [nzDropdownMenu]="menu"
              (click)="$event.stopPropagation()"
            >
              <i nz-icon nzType="more" theme="outline"></i>
            </button>
          </td>
        </tr>

        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="showDetailModal(item)">
              <i
                nz-icon
                nzType="edit"
                nzTheme="outline"
                style="padding-right: 8px"
              ></i
              >Update
            </li>
            <li nz-menu-item *ngIf="!item.isActive" (click)="activate(item)">
              <i
                nz-icon
                nzType="undo"
                nzTheme="outline"
                style="padding-right: 8px"
              ></i>
              Activate
            </li>
            <li nz-menu-item *ngIf="item.isActive" (click)="deactivate(item)">
              <i
                nz-icon
                nzType="stop"
                nzTheme="outline"
                style="padding-right: 8px"
              ></i>
              Deactivated
            </li>
          </ul>
        </nz-dropdown-menu>
      </ng-container>
    </tbody>
  </nz-table>
</nz-card>

<!-- Details Modal -->
<nz-modal
  [nzStyle]="{ width: '50vw' }"
  [(nzVisible)]="isDetailVisible"
  [nzTitle]="'Update of ' + editingUser?.name"
  (nzOnCancel)="isDetailVisible = false"
  (nzOnOk)="submitDetailForm()"
  [nzOkText]="'Save'"
  [nzOkLoading]="isOkLoading"
  [nzOkDisabled]="detailForm?.invalid"
>
  <ng-container *nzModalContent>
    <form [formGroup]="detailForm" class="d-grid" autocomplete="off">
      <div>
        <nz-form-label [nzSpan]="12">Category</nz-form-label>
        <nz-select style="width: 100%" formControlName="category">
          <nz-option nzValue="A" nzLabel="A"></nz-option>
          <nz-option nzValue="B" nzLabel="B"></nz-option>
          <nz-option nzValue="C" nzLabel="C"></nz-option>
          <nz-option nzValue="D" nzLabel="D"></nz-option>
        </nz-select>
      </div>

      <div style="display: flex">
        <label nz-checkbox formControlName="isActive">Active</label>
      </div>
    </form>
  </ng-container>
</nz-modal>
