<nz-tabset>
  <nz-tab [nzTitle]="titleTemplate">
    <ng-template #titleTemplate>
      <i nz-icon nzType="shop"></i>
      Shops
    </ng-template>
    Shops
  </nz-tab>
  <nz-tab [nzTitle]="titleTemplate2">
    <ng-template #titleTemplate2>
      <i nz-icon nzType="home"></i>
      Bet Office
    </ng-template>
    Bet Office
  </nz-tab>
  <nz-tab [nzTitle]="titleTemplate3">
    <ng-template #titleTemplate3>
      <i nz-icon nzType="customer-service"></i>
      Online Customers
    </ng-template>
    Online Customers
  </nz-tab>
</nz-tabset>
