@import url("./assets/lib/hljs/styles/atom-one-light.css");
// @import url('../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css');
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import "./assets/scss/app.scss";

// .ant-menu-vertical .ant-menu-item {
//   &:hover {
//     color: red !important;
//   }
// }

.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 15px;
}

@media screen and (max-width: 1000px) {
  .d-grid {
    grid-template-columns: 1fr;
  }
}

.ant-form-item-label > label::after {
  content: none;
}

.link-hover {
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: #0b5edc;
  }
}

.ant-tabs-tab {
  margin: 8px 0 !important;
  padding: 8px 24px !important;
}

.ant-row {
  justify-content: center;
}
nz-list-item {
  .ant-card-body {
    padding: 16px 0;
  }
}

.ant-table-content {
  overflow: auto;
}

app-user-info .ant-tabs-tab {
  display: flex !important;
}

app-user-info .ant-tabs-left nz-tabs-nav {
  height: 300px;
}

app-user-info .bet-tabs nz-tabs-nav {
  height: auto !important;
}

.greenText {
  color: #04d992;
}

.redText {
  color: #de4436;
}

.yellowText {
  color: #ffc107;
}

.purpleText {
  color: #886cff;
}

.blueText {
  color: #3f87f5;
}
.disabledText {
  color: #ebebe4;
  cursor: not-allowed;
  pointer-events: none;
  &:hover {
    color: #ebebe4;
    cursor: not-allowed;
  }
}

tr.no-pad-top td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

app-sub-account-shop.applyStyle {
  .ant-card-body {
    padding: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px !important;
  }
}

