.table-filter-container {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  align-items: stretch;
}

@media screen and (max-width: 1070px) {
  .table-filter-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    align-items: stretch;
  }
}

@media screen and (max-width: 730px) {
  .table-filter-container {
    display: grid !important;
    grid-template-columns: 1fr !important;
    align-items: stretch;
  }
}

.table-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.75rem;
  margin-right: 1rem;
  span {
    line-height: 1.3;
    width: 100%;
    height: max-content;
    text-align: center;
    font-size: 12px;
    background-color: #f9fbfd;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  &:not(:first-child) {
    // margin-left: 1rem;
  }
}

.voidButton {
  pointer-events: none;
  &.active {
    pointer-events: visible;
  }
}

.selectedBet {
  text-decoration: underline;

  &:hover {
    color: #0b5edc;
  }

  &.active {
    color: #0b5edc;
    text-decoration: line-through;
    font-weight: 500;
    &:hover {
      text-decoration: none;
      color: #53535f;
    }
  }
}

.actionDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lowPadding {
  td {
    padding: 0.7rem 0.5rem;
  }
}

.noPadFooter {
  th {
    padding: 0.4rem !important;
  }
}
