<div class="row">
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Cash</p>
          <h2 class="m-b-0">
            <span>$14,966</span>
          </h2>
        </div>
        <nz-avatar
          [nzSize]="50"
          nzIcon="dollar"
          class="ant-avatar-cyan"
        ></nz-avatar>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Credit Limit</p>
          <h2 class="m-b-0">
            <span>26.80%</span>
          </h2>
        </div>
        <nz-avatar
          [nzSize]="50"
          nzIcon="credit-card"
          class="ant-avatar-blue"
        ></nz-avatar>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Used Credit</p>
          <h2 class="m-b-0">
            <span>3057</span>
          </h2>
        </div>
        <nz-avatar
          [nzSize]="50"
          nzIcon="send"
          class="ant-avatar-purple"
        ></nz-avatar>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Remaining Credit</p>
          <h2 class="m-b-0">
            <span>$6,138</span>
          </h2>
        </div>
        <nz-avatar
          [nzSize]="50"
          nzIcon="euro"
          class="ant-avatar-cyan"
        ></nz-avatar>
      </div>
    </nz-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Withdraw</p>
          <h2 class="m-b-0">
            <span>$14,966</span>
          </h2>
        </div>
        <nz-avatar
          [nzSize]="50"
          nzIcon="money-collect"
          class="ant-avatar-blue"
        ></nz-avatar>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Deposit</p>
          <h2 class="m-b-0">
            <span>26.80%</span>
          </h2>
        </div>
        <nz-avatar
          [nzSize]="50"
          nzIcon="stock"
          class="ant-avatar-gold"
        ></nz-avatar>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Commission</p>
          <h2 class="m-b-0">
            <span>3057</span>
          </h2>
        </div>
        <nz-avatar
          [nzSize]="50"
          nzIcon="pie-chart"
          class="ant-avatar-red"
        ></nz-avatar>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Pending Commission</p>
          <h2 class="m-b-0">
            <span>$6,138</span>
          </h2>
        </div>
        <nz-avatar
          [nzSize]="50"
          nzIcon="bar-chart"
          class="ant-avatar-gold"
        ></nz-avatar>
      </div>
    </nz-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Navigation</h5>
      </div>
      <div class="m-t-20">
        <div class="d-flex m-b-20">
          <div class="text-center">
            <nz-avatar
              nzText="P"
              class="ant-avatar-blue font-size-20"
              nzShape="square"
              nzSize="large"
            ></nz-avatar>
          </div>
          <div class="m-l-20">
            <h5 class="m-b-0">
              <a class="text-dark" routerLink="/risk-management/player-mode"
                >Player Mode</a
              >
            </h5>
            <p class="m-b-0">See player mode.</p>
          </div>
        </div>
        <div class="d-flex m-b-20">
          <div class="text-center">
            <nz-avatar
              nzText="V"
              class="ant-avatar-cyan font-size-20"
              nzShape="square"
              nzSize="large"
            ></nz-avatar>
          </div>
          <div class="m-l-20">
            <h5 class="m-b-0">
              <a class="text-dark" routerLink="/bets/view-bets">View Bets</a>
            </h5>
            <p class="m-b-0">View all played bets.</p>
          </div>
        </div>
        <div class="d-flex m-b-20">
          <div class="text-center">
            <nz-avatar
              nzText="R"
              class="ant-avatar-gold font-size-20"
              nzShape="square"
              nzSize="large"
            ></nz-avatar>
          </div>
          <div class="m-l-20">
            <h5 class="m-b-0">
              <a class="text-dark" routerLink="/bets/risk-approval"
                >Risk Approve</a
              >
            </h5>
            <p class="m-b-0">Check your risk.</p>
          </div>
        </div>
        <div class="d-flex">
          <div class="text-center">
            <nz-avatar
              nzText="C"
              class="ant-avatar-purple font-size-20"
              nzShape="square"
              nzSize="large"
            ></nz-avatar>
          </div>
          <div class="m-l-20">
            <h5 class="m-b-0">
              <a class="text-dark" routerLink="/users/customer">Customers</a>
            </h5>
            <p class="m-b-0">All playing customers.</p>
          </div>
        </div>
      </div>
    </nz-card>
  </div>

  <div class="col-lg-3">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <h5>Total Stake</h5>
      </div>
      <div class="text-center m-v-45">
        <nz-progress
          [nzPercent]="70"
          nzType="circle"
          [nzWidth]="160"
          [nzStrokeWidth]="3"
          [nzFormat]="summaryFormat"
          nzStatus="success"
        ></nz-progress>
      </div>
      <div class="d-flex justify-content-center">
        <nz-badge nzStatus="default" [nzColor]="cyan"></nz-badge>
        <span><span class="font-weight-semibold">70%</span> of Your Goal</span>
      </div>
    </nz-card>
  </div>
  <div class="col-lg-6">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <h5>Total Bets</h5>
        <!-- <div>
          <a
            class="text-dark font-size-20"
            nz-dropdown
            [nzTrigger]="'click'"
            [nzPlacement]="'bottomRight'"
            [nzDropdownMenu]="salesStatisticsDropDown"
          >
            <i nz-icon nzType="ellipsis" theme="outline"></i>
          </a>
          <nz-dropdown-menu #salesStatisticsDropDown="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <i nz-icon nzType="printer" theme="outline"></i>
                <span class="m-l-5">Print</span>
              </li>
              <li nz-menu-item>
                <i nz-icon nzType="download" theme="outline"></i>
                <span class="m-l-5">Download</span>
              </li>
              <li nz-menu-item>
                <i nz-icon nzType="file-excel" theme="outline"></i>
                <span class="m-l-5">Export</span>
              </li>
              <li nz-menu-item>
                <i nz-icon nzType="copy" theme="outline"></i>
                <span class="m-l-5">Copy</span>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div> -->
      </div>
      <div class="m-t-10">
        <div class="d-inline-block m-r-30">
          <p class="m-b-0">
            <nz-badge nzStatus="default" [nzColor]="blue"></nz-badge>
            <span>Online</span>
          </p>
        </div>
        <div class="d-inline-block">
          <p class="m-b-0">
            <nz-badge nzStatus="default" [nzColor]="blueLight"></nz-badge>
            <span>Office</span>
          </p>
        </div>
      </div>
      <div class="m-t-15">
        <canvas
          ngChartjs
          style="height: 220px"
          [datasets]="salesChartData"
          [labels]="salesChartLabels"
          [options]="salesChartOptions"
          [colors]="salesChartColors"
          [legend]="false"
          [chartType]="salesChartType"
        >
        </canvas>
      </div>
    </nz-card>
  </div>
</div>
